@model AppChamados.Models.Situacoes


@{
    ViewData["Title"] = "Novo Solicitante";
}

<br>

<h2>@ViewData["Title"]</h2>

<br>

<div class="form-horizontal">
    <form action="./Create" method="Post">
    
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Descrição da situação" required>
            </div>
        </div>
    </div>
    
        <button type="submit" class="btn btn-success">Criar</button>

    </form>
</div>