@model IEnumerable<AppChamados.Models.Situacoes>

@{
    ViewData["Title"] = "Situações";
}

<main>
    <br>

    <h2>@ViewData["Title"]</h2>

    <br>

    <a href="./Situacoes/Create" class="btn btn-success">Nova Situação</a>

    <br>
    <br>

    <table class="table table-striped table-bordered table-hover table-responsive">
        <caption>Lista de Situações</caption>
        <thead class="thead-light">
            <th class="text-center">Id</th>
            <th class="text-center">Descrição</th>
            <th class="text-center">Ações</th>
        </thead>

        <tbody>
            @foreach(var situacao in Model ){
            <tr>
                <td class="text-center">@situacao.id</td>
                <td class="text-center">@situacao.descricao</td>
                <td class="text-center">
                    <a href="./Situacoes/Delete/@situacao.id" class="text-danger"><i class="material-icons">delete</i></a>
                    <a href="./Situacoes/Update/@situacao.id" class="text-info"><i class="material-icons">edit</i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</main>