@model AppChamados.Models.Chamados


@{
    ViewData["Title"] = "Novo Solicitante";
}

<br>

<h2>@ViewData["Title"]</h2>

<br>

<div class="form-horizontal">
    <form action="./Create" method="Post">
    
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="nome">Nome Completo</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome completo do solicitante" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="E-mail do solicitante" required>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone do solicitante" required>
            </div>
        </div>
    </div>
        
        <button type="submit" class="btn btn-success">Criar</button>

    </form>
</div>